In [7]:
import os,sys,inspect
currentdir = os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe())))
parentdir = os.path.dirname(currentdir)
sys.path.insert(0,parentdir) 

DATA_ROOT = "/home/sl1471/public/"
target_path = "/home/sl1471/workspace/experiments/BX/"
data_path = DATA_ROOT + "bookcrossing/"

user_core = 10
item_core = 5

### Rating Data

In [8]:
import pandas as pd
df = pd.read_table(data_path + "BX-Book-Ratings.csv", sep=";", encoding_errors='ignore', header = 0, names = ["UserID", "ItemID", "Response"])

In [9]:
df['Timestamp'] = [i for i in range(len(df))]
df[:5]

   UserID      ItemID  Response  Timestamp
0  276725  034545104X         0          0
1  276726  0155061224         5          1
2  276727  0446520802         0          2
3  276729  052165615X         3          3
4  276729  0521795028         6          4

In [10]:
n_user, n_item = len(df.UserID.unique()), len(df.ItemID.unique())
print(f"#user: {n_user}")
print(f"#item: {n_item}")
print(f"sparsity: {1.0 - len(df) / (n_user * n_item)}")

#user: 105283
#item: 340553
sparsity: 0.9999679320064145

In [11]:
from data.preprocess import run_multicore_asymetric
multicore_data = run_multicore_asymetric(df, user_core, item_core)

N-core is set to [5,100]
Filtering (10,5)-core data
Iteration 1

100%|██████████| 1149780/1149780 [00:01<00:00, 712495.03it/s]

Number of removed record: 585836
Iteration 2

100%|██████████| 563944/563944 [00:00<00:00, 849435.21it/s]

Number of removed record: 31591
Iteration 3

100%|██████████| 532353/532353 [00:00<00:00, 903227.37it/s]

Number of removed record: 4907
Iteration 4

100%|██████████| 527446/527446 [00:00<00:00, 797905.24it/s]

Number of removed record: 986
Iteration 5

100%|██████████| 526460/526460 [00:00<00:00, 824178.81it/s]

Number of removed record: 241
Iteration 6

100%|██████████| 526219/526219 [00:00<00:00, 903419.11it/s]

Number of removed record: 120
Iteration 7

100%|██████████| 526099/526099 [00:00<00:00, 862324.73it/s]

Number of removed record: 2
Iteration 8

100%|██████████| 526097/526097 [00:00<00:00, 906410.01it/s]

Number of removed record: 0
Size change: 1149780 --> 526097

In [12]:
n_user, n_item = len(multicore_data.UserID.unique()), len(multicore_data.ItemID.unique())
print(f"#user: {n_user}")
print(f"#item: {n_item}")
print(f"#record: {len(multicore_data)}")
print(f"sparsity: {1.0 - len(multicore_data) / (n_user * n_item)}")

#user: 8527
#item: 35046
#record: 526097
sparsity: 0.9982395199591623

In [7]:
import pandas as pd
item_meta = pd.read_table(data_path + "BX-Books.csv", sep=";", encoding_errors='ignore', error_bad_lines=False,
                          header = 0, usecols = [0,3,4], names = ["ItemID", "Year", "Publisher"])

/home/sl1471/anaconda3/envs/bmrl/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
/home/sl1471/anaconda3/envs/bmrl/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [8]:
def filter_items(item_meta, items):
    selected_rows = [False] * len(item_meta)
    all_meta_items = item_meta["ItemID"].unique()
    for i,uid in enumerate(all_meta_items):
        if uid in items:
            selected_rows[i] = True
    return item_meta[selected_rows]
print(len(item_meta))
item_meta = filter_items(item_meta, {uid: i for i,uid in enumerate(multicore_data["ItemID"].unique())})
print("-->",len(item_meta))

271379
--> 4281

In [9]:
selected_rows = [True] * len(multicore_data)
filtered_items = {iid: i for i,iid in enumerate(item_meta["ItemID"])}
for i,iid in enumerate(multicore_data["ItemID"]):
    if iid not in filtered_items:
        selected_rows[i] = False
multicore_data = multicore_data[selected_rows]
multicore_data = run_multicore(multicore_data, n_core = user_item_n_core)

Filter 20-core data.
n_core = 20
N-core is set to [5,100]
Filtering 20-core data
Iteration 1

100%|██████████| 195954/195954 [00:00<00:00, 1003960.98it/s]

Number of removed record: 402
Iteration 2

100%|██████████| 195552/195552 [00:00<00:00, 1497445.00it/s]

Number of removed record: 81
Iteration 3

100%|██████████| 195471/195471 [00:00<00:00, 1056371.61it/s]

Number of removed record: 25
Iteration 4

100%|██████████| 195446/195446 [00:00<00:00, 1098093.77it/s]

Number of removed record: 1
Iteration 5

100%|██████████| 195445/195445 [00:00<00:00, 1138646.11it/s]

Number of removed record: 0
Size change: 195954 --> 195445

In [10]:
n_user, n_item = len(multicore_data.UserID.unique()), len(multicore_data.ItemID.unique())
print(f"#user: {n_user}")
print(f"#item: {n_item}")
print(f"#record: {len(multicore_data)}")
print(f"sparsity: {1.0 - len(multicore_data) / (n_user * n_item)}")

#user: 2559
#item: 4273
#record: 195445
sparsity: 0.9821260151370781

In [11]:
from utils import set_random_seed
set_random_seed(9)
from data.preprocess import holdout_data_sequential, recheck_exist
trainset, valset, testset = holdout_data_sequential(multicore_data, holdout_type = "warm", ratio = [0.8,0.1,0.1])
trainset = trainset.reset_index(drop = True)
valset = valset.reset_index(drop = True)
testset = testset.reset_index(drop = True)
# recheck if there is any unseen item in val or test, if there is move corresponding user history into train
trainset, valset, testset = recheck_exist(trainset, valset, testset, field_name = "ItemID")

Build user history

195445it [00:00, 522639.42it/s]

Holdout user histories

100%|██████████| 2559/2559 [00:00<00:00, 6557.77it/s]

Move unseen ItemID from val to train
Moving user data
Before moving: Target DataFrame: 158437, Source Data Frame: 18504

100%|██████████| 517/517 [00:00<00:00, 4726.08it/s]
100%|██████████| 2042/2042 [00:00<00:00, 5187.30it/s]

#user moved: 517
After moving: Target DataFrame: 163395, Source Data Frame: 13546
Move unseen ItemID from test to train, this may also move users in val to train
Val --> Train
Moving user data
Before moving: Target DataFrame: 163395, Source Data Frame: 13546

100%|██████████| 1211/1211 [00:00<00:00, 8802.75it/s]
100%|██████████| 1214/1214 [00:00<00:00, 6209.58it/s]

#user moved: 1211
After moving: Target DataFrame: 172076, Source Data Frame: 4865
Test --> Train
Moving user data
Before moving: Target DataFrame: 172076, Source Data Frame: 18504

100%|██████████| 1211/1211 [00:00<00:00, 5108.66it/s]
100%|██████████| 1348/1348 [00:00<00:00, 5289.09it/s]

#user moved: 1211
After moving: Target DataFrame: 185232, Source Data Frame: 5348

In [12]:
from utils import setup_path
save_path = target_path + "tsv_data/"
setup_path(save_path, is_dir = True)
trainset.to_csv(save_path + "train.tsv", sep = '\t', index = False)
valset.to_csv(save_path + "val.tsv", sep = '\t', index = False)
testset.to_csv(save_path + "test.tsv", sep = '\t', index = False)

error when creating ""
dir "/home" existed
dir "/home/sl1471" existed
dir "/home/sl1471/workspace" existed
dir "/home/sl1471/workspace/experiments" existed
dir "/home/sl1471/workspace/experiments/BX" existed
dir "/home/sl1471/workspace/experiments/BX/tsv_data" existed
dir "/home/sl1471/workspace/experiments/BX/tsv_data/" existed

In [13]:
len(trainset["UserID"].unique()), len(valset["UserID"].unique()), len(testset["UserID"].unique())

(2559, 1214, 1348)

In [14]:
len(trainset["ItemID"].unique()), len(valset["ItemID"].unique()), len(testset["ItemID"].unique())

(4273, 1191, 969)

## User Meta

In [70]:
import pandas as pd
user_meta = pd.read_table(data_path + "BX-Users.csv", sep=";", encoding_errors='ignore', header = 0, names = ["UserID", "Location", "Age"])

In [71]:
import numpy as np
user_meta = user_meta.fillna(-1)
user_meta.replace(np.nan, 0)
user_meta[:5]

   UserID                            Location   Age
0       1                  nyc, new york, usa  -1.0
1       2           stockton, california, usa  18.0
2       3     moscow, yukon territory, russia  -1.0
3       4           porto, v.n.gaia, portugal  17.0
4       5  farnborough, hants, united kingdom  -1.0

In [72]:
import numpy as np
age_group = [int(age) // 20 if 0<age<60 else 6 if age>60 else -1 for age in user_meta["Age"]]
user_meta = user_meta.drop(["Age"], axis = 1)
user_meta.insert(2, "AgeGroup", age_group)
user_meta[:5]

   UserID                            Location  AgeGroup
0       1                  nyc, new york, usa        -1
1       2           stockton, california, usa         0
2       3     moscow, yukon territory, russia        -1
3       4           porto, v.n.gaia, portugal         0
4       5  farnborough, hants, united kingdom        -1

In [73]:
locations = [loc.replace(' ','').split(',')[-1] for loc in user_meta["Location"]]
user_meta = user_meta.drop(["Location"], axis = 1)
user_meta.insert(1, "Location", locations)
user_meta[:5]

   UserID       Location  AgeGroup
0       1            usa        -1
1       2            usa         0
2       3         russia        -1
3       4       portugal         0
4       5  unitedkingdom        -1

In [74]:
def filter_users(user_meta, users):
    selected_rows = [False] * len(user_meta)
    all_meta_users = user_meta["UserID"].unique()
    for i,uid in enumerate(all_meta_users):
        if uid in users:
            selected_rows[i] = True
    return user_meta[selected_rows]

In [75]:
print(len(user_meta))
user_meta = filter_users(user_meta, {uid: i for i,uid in enumerate(multicore_data["UserID"].unique())})
print("-->",len(user_meta))

278858
--> 2559

In [76]:
from utils import setup_path
save_path = target_path + "meta_data/user.meta"
setup_path(save_path, is_dir = False)
user_meta.to_csv(save_path, sep = '\t', index = False)

error when creating ""
dir "/home" existed
dir "/home/sl1471" existed
dir "/home/sl1471/workspace" existed
dir "/home/sl1471/workspace/experiments" existed
dir "/home/sl1471/workspace/experiments/BX" existed
dir "/home/sl1471/workspace/experiments/BX/meta_data" existed

In [77]:
from data.preprocess import build_vocab
from utils import setup_path
save_path = target_path + "meta_data/user_fields.vocab"
setup_path(save_path, is_dir = False)
build_vocab(user_meta, save_path, ["UserID", "Location", "AgeGroup"])

error when creating ""
dir "/home" existed
dir "/home/sl1471" existed
dir "/home/sl1471/workspace" existed
dir "/home/sl1471/workspace/experiments" existed
dir "/home/sl1471/workspace/experiments/BX" existed
dir "/home/sl1471/workspace/experiments/BX/meta_data" existed
Vocab file saved to: /home/sl1471/workspace/experiments/BX/meta_data/user_fields.vocab

In [78]:
import pandas as pd
user_fields_meta = pd.DataFrame({"field_name": ["UserID", "Location", "AgeGroup"], 
                                 "field_type": ["nominal", "nominal", "nominal"], 
                                 "value_type": ["int", "str", "int"], 
                                 "field_enc": ["v2id", "v2onehot", "v2id"]})
user_fields_meta.to_csv(target_path + "meta_data/user_fields.meta", 
                        sep = '\t', index = False)

## Item Features

In [24]:
import pandas as pd
item_meta = pd.read_table(data_path + "BX-Books.csv", sep=";", encoding_errors='ignore', error_bad_lines=False,
                          header = 0, usecols = [0,3,4], names = ["ItemID", "Year", "Publisher"])

/home/sl1471/anaconda3/envs/bmrl/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
/home/sl1471/anaconda3/envs/bmrl/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [25]:
item_meta[:5]

       ItemID  Year                   Publisher
0  0195153448  2002     Oxford University Press
1  0002005018  2001       HarperFlamingo Canada
2  0060973129  1991             HarperPerennial
3  0374157065  1999        Farrar Straus Giroux
4  0393045218  1999  W. W. Norton &amp; Company

In [26]:
item_meta = filter_items(item_meta, {iid: i for i,iid in enumerate(multicore_data["ItemID"].unique())})
print(len(item_meta), len(multicore_data["ItemID"].unique()))

4273 4273

In [27]:
from utils import setup_path
save_path = target_path + "meta_data/item.meta"
setup_path(save_path, is_dir = False)
item_meta.to_csv(save_path, sep = '\t', index = False)

error when creating ""
dir "/home" existed
dir "/home/sl1471" existed
dir "/home/sl1471/workspace" existed
dir "/home/sl1471/workspace/experiments" existed
dir "/home/sl1471/workspace/experiments/BX" existed
dir "/home/sl1471/workspace/experiments/BX/meta_data" existed

In [28]:
from data.preprocess import build_vocab
from utils import setup_path
save_path = target_path + "meta_data/item_fields.vocab"
setup_path(save_path, is_dir = False)
build_vocab(item_meta, save_path, ["ItemID", "Year", "Publisher"])

error when creating ""
dir "/home" existed
dir "/home/sl1471" existed
dir "/home/sl1471/workspace" existed
dir "/home/sl1471/workspace/experiments" existed
dir "/home/sl1471/workspace/experiments/BX" existed
dir "/home/sl1471/workspace/experiments/BX/meta_data" existed
Vocab file saved to: /home/sl1471/workspace/experiments/BX/meta_data/item_fields.vocab

In [29]:
import pandas as pd
item_fields_meta = pd.DataFrame({"field_name": ["ItemID", "Year", "Publisher"], 
                                 "field_type": ["nominal", "ordinal", "nominal"], 
                                 "value_type": ["str", "int", "str"], 
                                 "field_enc": ["v2id", "v2id", "v2id"]})
item_fields_meta.to_csv(target_path + "meta_data/item_fields.meta", 
                        sep = '\t', index = False)